/*Reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;/*hiệu ứng cuộn*/
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết 
*/

/*
1. Vị trí
2. Kích thước (width, height
3. Màu sắc
4. Kiểu dáng (kiểu chữ , hình tròn, vuông)
*/
/*Common*/
.clear{
    clear: both;
}/*xử lý float cho thẻ con chui vào thẻ cha*/

.text-white {
    color: #fff !important;
}
.text-center{
    text-align: center;
}
.pull-right{
    float: right !important;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;/*chạy trên nhiều trình duyệt iphone*/
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/*tạo các thuộc tính cột và hàng để dùng chung bằng cách thêm hàm vào trước class*/
.row{
    margin-left: -8px;
    margin-right: -8px;
} 
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col {
    float:  left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}
.mt-32 {
    margin-top: 32px !important;
}
/*main*/
#main{
    
}

#header{
   height: 46px;
   background-color: #000;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;/*tạo hiệu ứng cuộn*/
}

#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;/*tạo chữ in hoa*/
}

#nav li a {
    text-decoration: none;
    line-height: 46px; /* căng giữa */
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block; /*di vào li ra subnav*/
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   min-width: 160px;
   background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);/*bóng đổ*/
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer; /*thay đổi con trỏ chuột*/
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*50% chiều ngang của chính nó*/
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;/*backg img, backg position/ backg size, backg repeat*/
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%);giảm một nửa cửa left cách 1*/
    width: 100%; /*cách 2*/
    /* right: 0;
    left: 0; cách 3 */
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

#content .content-section{
    width: 800px;
    max-width: 100%; /*cho max width để cho màn hình fulll*/
    padding: 64px  0 112px;/*112px là 64 của padding và 48 của marginbottom*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;/*fix lại lỗi của row */
    padding-right: 16px;/*fix lại lỗi của row khi chuyển về tablet*/
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;/*làm mỏng chữ*/
    letter-spacing: 4px;/*tảo khoảng cách giữa các chữ*/
    text-align: center;
}

#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px; /*tạo khoảng cách giữa các content con*/
    text-align: center;
    font-style: italic;/*chữ nghiêng*/
    opacity: 0.6;/*tạo độ mờ chữ*/
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;/*căng giữa 2 bên chữ cho bằng nhau*/
    line-height: 1.4 ;/*độ cao giữa các dòng*/
}

#content .member-list{
    margin-top: 32px;
}



#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;/*bo góc của ảnh cho tròn*/
}

/* tour section*/
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px  solid #ddd;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;/*khi sử dụng float thì có thuộc tính của display:block thì sử dụng được line-hight*/
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/*Places*/
.places-list{
    margin-top: 16px;
    
}
/* .place-item{
    width: 33.33333%;
    /* padding: 0 8px; tạo khoảng cách giữa các ô 
}*/
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;/*di chuột vào ảnh làm mờ ảnh */
}

.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}



.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;/*Tạo khối*/
    align-items: center;/*Căng  giữa chữ*/
    justify-content: center;/*Căng  giữa chữ*/
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;/*tạo animation gồm tên biến , kiểu adnimation, thời gian*/
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover {
    opacity: 1;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-left{
    float: left;
}
.modal-close1 {
    font-size: 15px;
    background-color: #f44336;
    color: #fff;
    padding: 11px 13px;
    margin-bottom: 16px;
}
.modal-left :hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    
}
.modal-footer a{
    color: #2196F3;
}
/*tạo ra những chuyển động animation*/
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);/*tạo địa điểm khung chuyển từ đâu*/
    }
    to {
        opacity: 1;
        transform: translateY(0);/*điểm đến*/
    }
}
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;/*khoảng cách giữa các dòng*/

}

.contact-info i[class*="ti-"]{/*chỉnh cho icon cách xa chữ*/
    width: 30px;
    display: inline-block;
}

.contact-info a{
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}

.contact-form{
    font-size: 15px;

}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    
}
/*Map section*/
.map-section img{
    width: 100%;
}

/* footer section*/
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}
